In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r"C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\data\raw\insurance.csv")

In [5]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   18  female  33.820         0     no  southeast   1630.66170
1   19  female  23.480         1     no  southeast   1836.80430
2   46    male  30.570         2     no  southeast   6632.35130
3   54    male  32.050         1    yes  southeast  31922.42950
4   21    male  21.345         4     no  northeast   1638.37255

In [7]:
df.shape

(50000, 7)

In [9]:
df.info()

<bound method DataFrame.info of        age     sex     bmi  children smoker     region      charges
0       18  female  33.820         0     no  southeast   1630.66170
1       19  female  23.480         1     no  southeast   1836.80430
2       46    male  30.570         2     no  southeast   6632.35130
3       54    male  32.050         1    yes  southeast  31922.42950
4       21    male  21.345         4     no  northeast   1638.37255
...    ...     ...     ...       ...    ...        ...          ...
49995   50  female  28.880         2     no  southeast  10306.54830
49996   58    male  36.110         2     no  northwest   4716.96000
49997   28    male  24.195         1    yes  northeast  29703.17305
49998   57    male  28.600         2     no  southwest  10035.39600
49999   30  female  29.800         0     no  southeast   4556.59600

[50000 rows x 7 columns]>

In [10]:
df.describe(include='all')

,age,sex,bmi,children,smoker,region,charges
count,50000.000000,50000,50000.000000,50000.000000,50000,50000,50000.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,25176,NaN,NaN,38976,14197,NaN
mean,39.463120,NaN,30.713734,1.113760,NaN,NaN,13343.216363
std,14.117142,NaN,6.092727,1.212835,NaN,NaN,12131.222744
min,18.000000,NaN,17.291000,0.000000,NaN,NaN,1137.535900
25%,27.000000,NaN,26.600000,0.000000,NaN,NaN,4694.431800
50%,40.000000,NaN,30.300000,1.000000,NaN,NaN,9399.232775
75%,51.000000,NaN,34.570000,2.000000,NaN,NaN,17340.746925
max,64.000000,NaN,47.740000,5.000000,NaN,NaN,52589.810300

In [11]:
df.describe()

                age           bmi      children       charges
count  50000.000000  50000.000000  50000.000000  50000.000000
mean      39.463120     30.713734      1.113760  13343.216363
std       14.117142      6.092727      1.212835  12131.222744
min       18.000000     17.291000      0.000000   1137.535900
25%       27.000000     26.600000      0.000000   4694.431800
50%       40.000000     30.300000      1.000000   9399.232775
75%       51.000000     34.570000      2.000000  17340.746925
max       64.000000     47.740000      5.000000  52589.810300

In [12]:
df_cleaned = df.copy()

In [13]:
target = df_cleaned.pop('charges')

In [14]:
num_cols = list(df_cleaned.select_dtypes('number').columns)
cat_cols = list(set(df_cleaned.columns) - set(num_cols))

In [15]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [16]:
ohe = OneHotEncoder(sparse_output=False, drop='first')

In [17]:
features = ohe.fit_transform(df_cleaned[cat_cols])

In [18]:
features = pd.DataFrame(features, columns=ohe.get_feature_names_out())

In [19]:
scaler = StandardScaler()

In [20]:
features[num_cols] = scaler.fit_transform(df_cleaned[num_cols])

In [21]:
from joblib import dump

In [23]:
dump(ohe, r'C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\models\ohe.joblib')
dump(scaler, r'C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\models\scaler.joblib')

['C:\\Users\\ayush\\Desktop\\projects\\adv_mla_2024\\adv_mla_lab_1\\models\\scaler.joblib']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_data, X_test, y_data, y_test = train_test_split(features, target, test_size=0.2, random_state=8)
X_train, X_val, y_train, y_val = train_test_split(X_data, y_data, test_size=0.2, random_state=8)

In [26]:
print(X_train.shape)
print(X_val.shape)
print(X_test.shape)

(32000, 8)
(8000, 8)
(10000, 8)

In [27]:
print(y_train.shape)
print(y_val.shape)
print(y_test.shape)

(32000,)
(8000,)
(10000,)

In [29]:
X_train.to_csv(r'C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\data\processed\X_train.csv', index=False)
X_val.to_csv(r'C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\data\processed\X_val.csv', index=False)
X_test.to_csv(r'C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\data\processed\X_test.csv', index=False)
y_train.to_csv(r'C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\data\processed\y_train.csv', index=False)
y_val.to_csv(r'C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\data\processed\y_val.csv', index=False)
y_test.to_csv(r'C:\Users\ayush\Desktop\projects\adv_mla_2024\adv_mla_lab_1\data\processed\y_test.csv', index=False)

In [30]:
pred_value = y_train.mean()

In [31]:
y_base = np.full((len(y_train), 1), pred_value)

In [32]:
from sklearn.metrics import root_mean_squared_error as rmse
from sklearn.metrics import mean_absolute_error as mae

In [33]:
print(rmse(y_base, y_train))
print(mae(y_base, y_train))

12116.584822448176
9118.852804794265